extends ../layout

block content
    a(href="/bicicletas/create") Nueva Bicicleta

    table.table
        thead
            tr
                th(scope="col") #
                th(scope="col") Color
                th(scope="col") Modelo
                th(scope="col") Ubicación
                th(scope="col") 
                th(scope="col") 
        tbody
            each bici in bicis
                tr
                    td(scope="row")= bici.codigo
                    td=  bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td 
                        a(href="bicicletas/" + bici.codigo + "/update") Editar
                    td 
                        form.inline(method="POST" action="bicicletas/" + bici.codigo + "/delete")
                            input(type="hidden" name="codigo" value=bici.codigo)
                            button.link-button(type="submit" name="submit_param" value="submit_value" class="btn") Eliminar